body {
  background-color: #7e8ef1;
  color: #eeeeee;
}
.navegador {
  background-color: #615efc;
  font-size: 20px;
  width: 100%;
  position: fixed;
}

.tabla {
  display: flex;
  justify-content: center;
  padding: 100px;
  border: 1px;
  border-color: #d1d8c5;
}
.foto-proy {
  width: 30%;
}
.margen_func {
  height: 100px;
}
.origen {
  font-size: 30px;
}
.titulo1 {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
.texto1 {
  margin-left: 20px;
  font-size: 30px;
}

.contenedor {
  display: flex;
  justify-content: center;
}
.espa {
  gap: 100px;
}

.info {
  margin-left: 50px;
  margin-right: 50px;
}
/* 
.portafolio {
  height: 20 px;
  color: #eeeeee;
} */

footer {
  display: flex;
  background-color: #615efc;
  width: 100%;
  justify-content: space-between;
  text-align: center;
}
